{% extends 'recipes/base.html' %}
<!--  -->
{% block content %}
<h1>Recipes App Home</h1>
{% for recipe in recipes %}
<h1>{{ recipe.title }}</h1>
<p>{{ recipe.author }} | {{ recipe.date_posted }}</p>
<p>{{ recipe.directions }}</p>
<div class="card my-4" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ recipe.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ recipe.author }}</h6>
      <p class="card-text">{{ recipe.directions }}</p>
      <h6 class="card-subtitle mb-2 text-muted">{{ recipe.date_posted }}</h6>
      <a href="#" class="btn btn-primary">View Recipe</a>
    </div>
  </div>
{% endfor %} {% endblock content %}
